[submodule "Autm/vendor/glfw"]
	path = Autm/vendor/glfw
	url = https://github.com/glfw/glfw

[submodule "Autm/vendor/glm"]
	path = Autm/vendor/glm
    url = https://github.com/g-truc/glm

[submodule "Autm/vendor/spdlog"]
	path = Autm/vendor/spdlog
	url = https://github.com/gabime/spdlog

[submodule "Autm/vendor/imgui"]
	path = Autm/vendor/imgui
	url = https://github.com/kregerl/imgui
